/*---- Reusable color vars ----*/
:root {
    --red: #d25a5a;
    --blue: #72c5d3;
    --greyFont: #383737;
}


/*---- Base HTML styling ----*/
html {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    color: var(--greyFont);
    scroll-behavior: smooth;
}

p,
ul {
    line-height: 1.8;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin: 10px 0;
    text-align: center;
}

body {
    background-image: url("../images/topography.svg");
    background-color: grey;
    background-size: 600px, auto;
    margin: 0;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4 {
    font-size: 2.5rem;
    margin: 10px 0;
    text-align: center;
}

a {
    color: var(--greyFont);
    text-decoration: none;
    padding: 5px 0;
}

img {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
}


/*---- Main layout ----*/
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "hr1 hr1 hr1"
        "image1 about about"
        "hr2 hr2 hr2"
        "training training image2"
        "hr3 hr3 hr3"
        "image3 climbs climbs"
        "hr4 hr4 hr4"
        "footer footer footer";
    max-width: 1000px;
    margin: 0 auto;
    background: whitesmoke;
}


/*---- Grid Layout ----*/
nav {
    grid-area: nav;
}

.header {
    grid-area: header;
    justify-items: center;
    padding-top: 10px;
}

.hr1 {
    grid-area: hr1;
}

.hr2 {
    grid-area: hr2;
}

.hr3 {
    grid-area: hr3;
}

.hr4 {
    grid-area: hr4;
}

.about {
    grid-area: about;
}

.training {
    grid-area: training;
}

.climbs {
    grid-area: climbs;
}

.image1 {
    grid-area: image1;
}

.image2 {
    grid-area: image2;
}

.image3 {
    grid-area: image3;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
}


/*---- Main class styling ----*/
.item {
    display: grid;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 5px 0 0 0;
    margin-bottom: 0;
    list-style: none;
}

.text-left-offset {
    text-align: left;
    color: var(--blue);
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.text-right-offset {
    text-align: right;
    color: var(--blue);
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.info-right {
    text-align: left;
    margin: 0 0 0 50px;
    padding: 15px;
    padding-right: 5px;
}

.info-left {
    text-align: left;
    padding: 15px;
    margin: 0 50px 0 15px;
}

.hr {
    padding: 8px 0;
}

hr.red-line {
    margin: 0;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(210, 90, 90, 0), rgba(210, 90, 90, 0.75), rgba(210, 90, 90, 0));
}

.climb-list ul {
    list-style: none;
    text-align: left;
    padding-left: 40%;
    margin-top: 0;
}

.contacts ul {
    list-style: none;
    font-size: .8em;
    padding: 10px;
}

.faContacts {
    display: flex;
    flex-direction: column;
}

i.fab {
    color: var(--greyFont);
    font-size: 1.5em;
    padding: 4px;
}


/*---- Color Slide effects borrowed from https://css-tricks.com/having-fun-with-link-hover-effects/ ----*/
a.slide {
    cursor: text;
    background:
        linear-gradient(to bottom, var(--blue) 0%,
            var(--blue) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    text-decoration: none;
    transition: background-size .2s;
}

a.slide:hover {
    background-size: 4px 50px;
}

span.slide {
    cursor: pointer;
    background:
        linear-gradient(to bottom, var(--red) 0%,
            var(--red) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    color: var(--greyFont);
    text-decoration: none;
    transition: background-size .5s;
}

span.slide:hover {
    background-size: 4px 50px;
}

a.para {
    text-decoration: none;
    border-bottom: 4px solid var(--blue);
    padding-bottom: 0;
}


/*---- Media Queries ----*/
@media (max-width: 700px) {
    .container {
        grid-template-areas:
            "nav nav"
            "header header"
            "hr1 hr1"
            "image1 about"
            "hr2 hr2"
            "training image2"
            "hr3 hr3"
            "image3 climbs"
            "hr4 hr4"
            "footer footer";
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .container {
        grid-template-areas:
            "nav "
            "header"
            "hr1"
            "about"
            "hr2"
            "training"
            "hr3"
            "climbs"
            "hr4"
            "footer";
        grid-template-columns: 100%;
    }

    .text-left-offset {
        text-align: center;
        color: var(--blue);
        font-size: 2rem;
        font-weight: 700;
        margin: 10px 0;
    }

    .text-right-offset {
        text-align: center;
        color: var(--blue);
        font-size: 2rem;
        font-weight: 700;
        margin: 10px 0;
    }

    .info-left {
        text-align: center;
        margin: 10px;
    }

    .info-right {
        text-align: center;
        margin: 10px;
    }

    .climb-list {
        list-style: none;
        text-align: center;
        margin: 10px;
        padding: 10px;
    }
}